<div class="banner-homepage">
  <h1>All my lists</h1>
  <%= link_to "Create a new list", new_list_path, class: "btn-success btn" %>
</div>
<div class="container">
  <div class="card-flex-container">
    <% @lists.each do |list| %>
    <a href="<%= list_path(list) %>">
      <div class="list-card" style="
      background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
      url(<%= list.movies.empty? ? image_url('cinema.jpg') : list.movies.last.poster_url %>)">
        <h4><%= list.name %></h4>
      </div>
    </a>
    <% end %>
  </div>
</div>
