// Specific CSS for your home-page
.card-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  gap: 25px;
  width: 100%;
  margin: 40px 0;
  a {
    text-decoration: none !important;
  }
  a:hover {
    text-shadow: 0 0 2px #000000;
  }
}
