.list-card {
  width: 300px;
  height: 400px;
  background-color: rgb(72, 69, 69);
  border-radius: 2px;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 20px;
  a {
    color: white;
    text-decoration: none;
  }
  h4 {
    text-decoration: none;
    text-transform: uppercase;
  }
}

.list-card:hover {
  box-shadow: rgba(0, 0, 0, 0.493) 0px 5px 15px;
  transition: 0.3s;
  cursor: pointer;
  outline: 2px solid $green;
  h4 {
    color: $green;
  }
}

.bookmark-card {
  width: 100%;
  height: fit-content;
  height: 500px;
  border: 1px solid black;
  border-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  .text {
    padding: 30px;
    // width: calc(100%);
  }
  a {
    color: $red;
  }
  a:hover {
    color:black;
    text-decoration: none;
    text-shadow: none !important;
  }
  // .image {
  //   width: 40%;
  //   height: 100%;
  //   text-align: right;
  // }
  img {
    height: 100%;
    object-fit: contain;
  }
}
